body p {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(16, 25, 38);
    margin-left: 1.5em;
    margin-right: 1.5em;
}


header{
    display: flex;
    justify-content: flex-start;
    padding: 1.5em;
}

.div_imgLogo{
    width: 15%;
}

.div_imgLogo img{
    width: 10em;
    height: 2em;
}

.div_titulo{
    width: 85%;
    align-content: center;    
}

.div_titulo p{
    font-size: 2em;
    font-weight: bold;
    color: white;    
}

.main{
    padding: 1.5em;
    color: white;
    border-radius: 10px;
    background: rgb(12, 84, 198);
}